# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit specific
.streamlit/secrets.toml
.streamlit/config.toml

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# Flask stuff
instance/
.webassets-cache

# --- OS / EDITOR ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp